*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    color: #444;
    font-size: 13pt;
}

a {
    color: var(--color-blueberry);
    text-decoration-color: var(--color-blueberry-light);
    transition: text-decoration-color 250ms;
    text-underline-offset: 0.1em;
}
a:hover, a:active {
    text-decoration-color: var(--color-blueberry);
}

:root {
    --color-white: #eee;
    --color-lightgrey: #a0a2a4;
    --color-grey: #606264;
    --color-crimson: #b33243;
    --color-crimson-dark: #5a2a38;
    --color-eggplant: #323268;
    --color-eggplant-dark: #202050;
    --color-blueberry: #21568a;
    --color-blueberry-light: #21568a66;
    --color-sky: #e3f2fd;
    --color-peach: #f2b5a7;
    --color-gold: #f2dd72;
    --color-sea: #4d868c;
    --color-note: #1d568c;
    --color-error: orange;
    --color-warning: darkorange;
    --color-danger: red;
}
