*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  color: #444;
  font-size: 13pt;
}

a {
  color: var(--color-blueberry);
  text-decoration-color: var(--color-blueberry-light);
  transition: text-decoration-color 250ms;
  text-underline-offset: 0.1em;
}
a:hover,
a:active {
  text-decoration-color: var(--color-blueberry);
}

:root {
  --color-white: #eee;
  --color-lightgrey: #a0a2a4;
  --color-grey: #606264;
  --color-crimson: #b33243;
  --color-crimson-light: #d23b4f;
  --color-crimson-dark: #5a2a38;
  --color-eggplant: #323268;
  --color-eggplant-dark: #202050;
  --color-blueberry: #21568a;
  --color-blueberry-light: #21568a66;
  --color-blueberry-dark: #01366a;
  --color-sky: #e3f2fd;
  --color-peach: #f2b5a7;
  --color-gold: #f2dd72;
  --color-sea: #4d868c;
  --color-note: #1d568c;
  --color-error: orange;
  --color-warning: darkorange;
  --color-danger: red;
}

.article-content {
  line-height: 30px;
}

.article-subtitle {
  line-height: 30px;
}
.news-snippet {
  line-height: 30px;
}

.button-link {
  background-color: "#fff";
  border-radius: 4px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-crimson);
  color: var(--color-crimson);
  padding: 1rem 1.5rem;
  font-size: 100%;
  text-transform: uppercase;
  text-decoration: none !important;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  transition: filter 250ms;
}

.button-link:hover, .button-link:focus {
  filter: brightness(1.2);
}

table, th, td {
  border: 1px solid var(--color-grey);
  padding: 8px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

th {
  border-bottom-width: 2px;
}
