*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    color: #444;
    font-size: 13pt;
}

a {
    color: var(--color-eggplant);
}

:root {
    --color-grey: #606264;
    --color-crimson: #b33243;
    --color-eggplant: #323268;
    --color-blueberry: #21568a;
    --color-peach: #f2b5a7;
    --color-gold: #f2dd72;
    --color-sea: #4d868c;
}
