p, li {
  text-align: inherit;
  font-weight: 400;
  line-height: 1.5;
}
.twothirds-width-image {
  margin: 0 0 0 0;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  min-width: 60%;
  max-width: 66%;
}
.half-width-image {
  margin: 0 0 0 0;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  min-width: 50%;
  max-width: 50%;
}
.twothirds-width-image img {
  margin: 1rem auto;
}
.twothirds-width-image figcaption {
  margin-top: 1rem;
  font-style: italic;
  font-size: 0.75rem;
  line-height: 1.3;
}
.blog-image-right {
  float:right
}

.blog-image-left {
  float:left
}

@media screen and (max-width: 800px) {
  .twothirds-width-image {
    padding: 0;
    max-width: 100%;
    float: none;
  }
  .half-width-image {
    margin-top: 1rem;
    max-width: 100%;
    float:none;
  }
}

.partial-width-image  {
  margin: 0 2rem 1rem 0;
  width: 220px;
}

@media screen and (max-width: 425px) {
  .partial-width-image {
    margin: 0;
    padding: 0 1rem;
    width: 100%;
    float: none;
  }
}

.quote {
  border-left: 8px solid var(--color-crimson);
  padding-left: 1rem;
  margin: 1.5rem 0 1.5rem 2rem;
}
.quote blockquote {
  line-height: 1.5;
  font-style: italic;
  font-weight: 500;
  font-size: 110%;

}
.quote .attribution::before {
  content: "\a";
  white-space: pre;
}

.quote .attribution::before {
  content: "—  ";
}

.quote .attribution {
  color: var(--color-crimson);
  margin-top: 1rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
}

.short-quote {
  width: 25%;
  float: right;
  border-left: 8px solid var(--color-crimson);
  padding-left: 0rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.short-quote blockquote {
  line-height: 1.5;
  font-size: 120%;
  font-weight: 500;
  padding-left: 0rem;
  font-style: italic;
}

/* adds open double quotation mark before text of short quote */
.short-quote blockquote::before {
  content: "\201C";
  font-size: 3.5rem;
  display: block;
  font-family:'Lucida Sans';
  font-style: normal;
  line-height: 1.5rem;
  font-weight: 400;
}

hr {
  border: 0;
  height: 1px;
  background-color: #ddd;
  margin-top: 2rem;
}